<h3 class="pt-5 text-dark display-6 border-bottom pb-2">ADDITION OPERATION</h3>
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 pt-4 pb-4 shadow-lg" style="background-color: #d7e7f1">
      <span class="text-center font-nunito-sans">ENTER TWO NUMBER</span>
      <form (ngSubmit)="add(myForm.value)" #myForm="ngForm">
        <input
          type="number"
          aria-label="First name"
          id="firstNumber"
          class="form-control"
          name="firstNumber"
          ngModel
        />
        <input
          type="number"
          aria-label="Last name"
          id="secondNumber"
          class="form-control"
          name="lastNumber"
          ngModel
        />
        <button
          class="btn btn-sm btn-outline-success font-nunito-sans"
          type="submit"
        >
          Addition
        </button>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>

  <div class="row mt-5">
    <div class="col-md-4"></div>
    <div class="col-md-4 pt-4 pb-4 shadow-lg" style="background-color: #d7e7f1">
      <span class="text-center font-nunito-sans">RESULT</span>
      <input
        type="text"
        aria-label="First name"
        class="form-control"
        value="{{ result }}"
      />
    </div>

    <div class="col-md-4"></div>
  </div>
</div>
