<div class="container-fluid h-100">
  <div class="row h-100">
    <div
      class="col-md-2 d-flex flex-column list-group shadow-lg p-0 mb-0"
      style="height: 43rem; background-color: #e3f3fe"
    >
      <a
        class="list-group-item ms-2 mt-5 fs-5 shadow-lg p-3 mb-1 rounded"
        routerLink="addition"
        >Addition</a
      >

      <!-- <router-outlet></router-outlet> -->
      <a
        class="list-group-item ms-2 fs-5 shadow-lg p-3 mb-1 rounded"
        routerLink="subtraction"
        >Subtraction</a
      >
      <a
        class="list-group-item ms-2 fs-5 shadow-lg p-3 mb-1 rounded"
        routerLink="multiplication"
        >Multiplication</a
      >
      <a
        class="list-group-item ms-2 fs-5 shadow-lg p-3 mb-1 rounded"
        routerLink="division"
        >Division</a
      >
      <a
        class="list-group-item ms-2 fs-5 shadow-lg p-3 mb-1 rounded"
        routerLink="division"
        >Modulus</a
      >
      <a
        class="list-group-item ms-2 fs-5 shadow-lg p-3 mb-1 rounded"
        routerLink="division"
        >Factorial</a
      >
      <a
        class="list-group-item ms-2 fs-5 shadow-lg p-3 mb-1 rounded"
        routerLink="division"
        >Prime</a
      >
    </div>
    <div class="col-md-10 text-center">
      <!-- <app-addition></app-addition> -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
